.vans-page .van-card {
    margin-bottom: 30px;
}

.vans-page .van-card img {
    height: 170px;
    object-fit: cover;
}

.boton {
    margin: 10px;
    margin-bottom: 30px;
}

.card-info {
    font-size: 1em;
}

.card-name {
    font-size: 2em;
    margin-bottom: 10px;
}
.van-list-title {
    text-align: center;
}
