.image-van{
    width: 100%;
}
.margin-to-nav{
    padding-top: 160px;
    justify-content: center;
}

.newForm {
    padding-bottom: 10px;
}

@media screen and (max-width: 991px) {

    .crearVanButton {
        padding-bottom: 70px;

    }
    .margin-to-nav {
        padding-top: 20px;
    } 
}