.quoteExtras {
    display: flex;
    justify-content: center;
    padding-top: 15px;
}

.extras-quote-card {
    width: 20%;
    justify-content: center;
    display: contents;
}

.extras-quote-img {
    height: 100%;
    width: 100%;
}

.cardSize {
    width: 100%;
 
}
.card-information {
    text-align: left;
    font-size: 0.9em;
}

.card-information-name{
    font-size: 1.3em;
}

.fullcard {
    justify-content: center;
}


