.prices-item{
    text-align: center;
    font-size: 25px;
    font-weight: 900;
    margin-top: 20px;
}
.pricesItem{
    padding-bottom: 20px;
}
.quoteForm {
    padding-top: 150px;
}
.buttonBudget {
    margin-bottom: 40px;
    margin-top: 5px;
}
.presupuesto {
    padding-top: 150px;
}

.furgoneta {
    padding-top: 20px;
}
@media screen and (max-width: 991px) {
.buttonBudget {
    margin-bottom: 125px;
}
.furgoneta {
    padding-top: 80px;
    
}
    
}