@import url("https://fonts.googleapis.com/css2?family=Pattaya&display=swap");

.cover img {
  width: 100%;
  margin: 0;
  object-fit: cover;
  height: 720px;
}
.functionalities {
  margin: 60px 20px;
}
.functionalities img {
  width: 100%;
  object-fit: cover;
  height: 500px;
}
.functionalities h1 {
  padding-bottom: 30px;
  text-align: center;
  font-family: pattaya;
}
.functionalities .innertext {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40px);
  color: white;
}
.functionalities .build-cover {
  position: relative;
}
.landing .build-cover h3 {
    
    color: white;
   width: 100%;
   border-radius: 5px;
   border-color: white;
}

.upgrade-cover h3{
    position: relative;
    color: white;
   width: 100%;
   border-radius: 5px;
}

.relative {
    position: relative;
}

.shop-cover h3{
    position: relative;
    color: white;
   width: 100%;
   border-radius: 5px;
}


.btn-outline-dark-landing {
    border-color: white;
    height: 50px;
}


.cover {
  position: relative;
}

.innertext {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40px);
  color: white;
}
.innertext h1 {
  text-align: center;
  font-size: 80px;
  font-weight: 900;
}
.innertext p {
  text-align: center;
}
.nav-link {
  display: block;
  padding: .5rem 1rem;
  color: white;
  text-decoration: none;
}

@media screen and (max-width: 611px) {
  .innertext h1 {
    font-size: 50px;
    text-align: center;
  }
  .innertext p {
    font-size: 13px;
  }
}
