@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');

.landing .cover img{
    width: 100%;
    margin: 0;
    object-fit: cover;
    height: 720px;
}
.landing .functionalities {
    margin: 60px 20px;
}
.landing .functionalities img {
width: 100%;
object-fit: cover;
height: 500px;
}
.functionalities h1{
    padding-bottom: 30px;
    text-align: center;
    font-family: pattaya;
}
.functionalities .innertext{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40px);
    color: white;
}
.functionalities .build-cover{
    position: relative;
}
.functionalities .upgrade-cover{
    position: relative;
}
.functionalities .shop-cover{
    position: relative;
}

.functionalities p{
    color: white;
}
.landing .build-cover h3 {
     color: white;
   background-color: rgb(34, 32, 32);
   width: 100%;
   border-radius: 5px;
}

.upgrade-cover h3{
    color: white;
   background-color: rgb(34, 32, 32);
   width: 100%;
   border-radius: 5px;
}

.shop-cover h3{
    color: white;
   background-color: rgb(34, 32, 32);
   width: 100%;
   border-radius: 5px;
}

.cover{
    position: relative;
}

.innertext{
     position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40px);
    color: white;
}


